h1 {
    text-align: center;
    font-size: 3rem;
}

.itemListContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    padding: 2rem;

.card {
    width: 17rem; 
    .addToCart {
        width: 100%;
        margin: auto;
    }
}
}

.item {
    background: #ffe4c4;
    height: 27rem;
    width: 20rem;
    padding: 2rem;
    padding-top:4rem;
    .name {
        font-weight: bold;
        font-size: 2em;
        margin-top: 30%
    }

}
